#copied {
  display: none;
}

#query {
  height: 125px;
}

.type-slider  {
  b {
    position: relative;
    bottom: 10px;
  }
}
.view-docs {
  span {
    color: #2196F3;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.input-group-addon {
  cursor: pointer;
}
.form-input.result {
  padding: 10px;
}
